.container {
    display: flex;
    justify-content: center;
    width: 650px;
    height: auto;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 90%;
      height: auto;
    }
  }